.center_main td {
        white-space: normal
    }
    #tab2 {
        width: 810px;
        height: 460px;
        margin: 10px;
        position: relative;
    }

    #tab2 > a {
        width: 200px;
        height: 30px;
        border: 1px solid;
        display: block;
        cursor: pointer;
        float: left;
        text-decoration: none;
        text-align: center;
        line-height: 30px;
    }

    #chart1, #chart2 {
        border: 1px solid;
        border-top: none;
        width: 810px;
        height: 400px;
        position: absolute;
        top: 32px;
        background: #FFFFFF;
    }

    #chart3a {
        border: 1px solid;
        border-top: none;
        border-right: none;
        width: 302px;
        height: 400px;
        top: 32px;
        background: #FFFFFF;
        display: inline-block;
    }

    #chart3b {
        border: 1px solid;
        border-top: none;
        border-left: none;
        width: 302px;
        height: 400px;
        top: 32px;
        position: absolute;
        background: #FFFFFF;
        display: inline-block;
    }

    #radio2, #radio3 {
        border: none;
        width: 200px;
        height: 400px;
        top: 32px;
        float: right;
        background: #FFFFFF;
        display: inline-block;
    }

    #chart1:target, #chart2:target, #chart3:target {
        z-index: 2;
    }